<main>
	<app-home-hero></app-home-hero>
	<app-company-description-banner></app-company-description-banner>
	<div class="flex flex-col justify-center items-start sm:items-center py-9 bg-white">
		<h2 appAosFadeUp class="banner-title text-black pl-7 sm:pl-0">
			{{ "services.title" | translate }}
		</h2>
	</div>
	<app-services-cards></app-services-cards>
	<app-promo-banner></app-promo-banner>
	<div class="flex flex-col justify-center items-start sm:items-center py-9 bg-whitesmoke">
		<h2 appAosFadeUp data-aos="fade-up" class="banner-title-extra text-black pl-7 sm:pl-0">
			{{ "testimonials.title" | translate }}
		</h2>
	</div>
	<app-home-carousel></app-home-carousel>
	<app-social-proof-logos></app-social-proof-logos>
</main>
