<section class="w-full flex flex-col justify-center items-center py-6 bg-whitesmoke">
	<div class="w-60-percent flex flex-row justify-center items-center sm:w-1/2">
		<button class="mr-7" (click)="prevSlide()">
			<svg viewBox="0 0 21 41" height="32" width="16">
				<path d="M20.3 40.8L0 20.5 20.3.2l.7.7L1.3 20.5 21 40.1z"></path>
			</svg>
		</button>
		<carousel
			#theCarousel
			[arrowsOutside]="true"
			[cellsToShow]="1"
			[cellsToScroll]="1"
			[arrows]="false"
			[loop]="true"
			[autoplay]="true"
			[width]="carouselWidth"
		>
			<div
				*ngFor="let testim of testimonials"
				class="carousel-cell w-full flex flex-col items-center justify-center"
			>
				<p class="text-center w-full p-3">“{{ testim.content }}”</p>
				<h3 class="text-center font-bold">
					{{ testim.title }}
				</h3>
			</div>
		</carousel>
		<button class="transform rotate-180 ml-7" (click)="nextSlide()">
			<svg viewBox="0 0 21 41" height="32" width="16">
				<path d="M20.3 40.8L0 20.5 20.3.2l.7.7L1.3 20.5 21 40.1z"></path>
			</svg>
		</button>
	</div>
</section>
