<header class="w-full h-28 flex justify-start items-center flex-col relative sm:fixed z-auto sm:z-40">
	<a
		[routerLink]="activeUrl"
		[fragment]="'get-free-quote'"
		class="w-full h-11 bg-primary justify-center items-center flex-col flex sm:hidden"
	>
		<span class="font-bold text-lg leading-10">{{ "landing.quoteCta" | translate }}</span>
	</a>
	<div class="bg-black w-full h-full flex justify-between items-center">
		<a [routerLink]="'/'" class="m-6">
			<app-logo></app-logo>
		</a>
		<nav>
			<ul class="list-none hidden sm:flex items-center nav-buttons">
				<li>
					<a [routerLink]="'/'" [attr.active]="activeUrl === '/'">{{
						"landing.nav-buttons.home" | translate
					}}</a>
				</li>
				<li>
					<a [routerLink]="'/about'" [attr.active]="activeUrl === '/about'">{{
						"landing.nav-buttons.about" | translate
					}}</a>
				</li>
				<li>
					<a [routerLink]="'/services'" [attr.active]="activeUrl === '/services'">{{
						"landing.nav-buttons.services" | translate
					}}</a>
				</li>
				<li>
					<a [routerLink]="'/tips'" [attr.active]="activeUrl === '/tips'">{{
						"landing.nav-buttons.tips" | translate
					}}</a>
				</li>
				<li>
					<a [routerLink]="'/contact-us'" [attr.active]="activeUrl === '/contact-us'">{{
						"landing.nav-buttons.contact" | translate
					}}</a>
				</li>
			</ul>
		</nav>
		<div id="nav-menu-icon" class="m-6 block sm:hidden z-50" (click)="toggleMenu()" [class.open]="!open">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<a
			*ngIf="activeUrl !== '/'"
			[routerLink]="activeUrl"
			[fragment]="'get-free-quote'"
			class="
				w-52
				h-full
				transition
				duration-300
				ease-in-out
				justify-center
				items-center
				flex-col
				hidden
				sm:flex
				bg-primary
				hover:bg-black hover:text-white
				transition-all
			"
		>
			<span class="font-bold text-lg">{{ "landing.quoteCta" | translate }}</span>
		</a>
		<a
			*ngIf="activeUrl === '/'"
			[routerLink]="activeUrl"
			[fragment]="'get-free-quote'"
			class="
				w-52
				h-full
				transition
				duration-300
				ease-in-out
				justify-center
				items-center
				flex-col
				hidden
				sm:flex
				bg-primary
				hover:bg-black hover:text-white
				transition-all
			"
		>
			<span class="font-bold text-lg">{{ "landing.quoteCta" | translate }}</span>
		</a>
	</div>
</header>
