<header class="w-full h-28 flex justify-start items-center flex-col">
	<a href="#" class="w-full h-11 bg-primary justify-center items-center flex-col flex sm:hidden">
		<span class="font-bold text-lg leading-10">{{ "landing.quoteCta" | translate }}</span>
	</a>
	<div class="bg-black w-full h-full flex justify-between items-center">
		<a href="#">
			<img class="nav-bar-logo m-6" src="assets/logo.png" alt="EzMove logo" />
		</a>
		<nav>
			<ul class="list-none hidden sm:flex items-center nav-buttons">
				<li>
					<a href="#">{{ "landing.nav-buttons.home" | translate }}</a>
				</li>
				<li>
					<a href="#">{{ "landing.nav-buttons.about" | translate }}</a>
				</li>
				<li>
					<a href="#">{{ "landing.nav-buttons.services" | translate }}</a>
				</li>
				<li>
					<a href="#">{{ "landing.nav-buttons.tips" | translate }}</a>
				</li>
				<li>
					<a href="#">{{ "landing.nav-buttons.contact" | translate }}</a>
				</li>
			</ul>
		</nav>
		<div id="nav-menu-icon" class="m-6 block sm:hidden" (click)="open = !open" [class.open]="open">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<a
			href="#"
			class="
				w-52
				h-full
				transition
				duration-300
				ease-in-out
				justify-center
				items-center
				flex-col
				hidden
				sm:flex
				bg-primary
				hover:bg-black hover:text-white
				transition-all
			"
		>
			<span class="font-bold text-lg">{{ "landing.quoteCta" | translate }}</span>
		</a>
	</div>
</header>
