<section class="flex flex-col sm:flex-row w-full">
	<div
		class="
			w-full
			sm:w-1/2
			flex flex-col
			bg-white
			p-8
			sm:px-14
			h-screen/5
			sm:h-screen-42
			flex flex-col
			items-start
			sm:items-end
			justify-center
		"
	>
		<h2 appAosFadeUp class="font-bold text-2xl sm:text-6xl w-3/5">
			{{ "contact-us-page.addressTitle" | translate }}
		</h2>
	</div>
	<div class="w-full p-8 sm:px-14 sm:w-1/2 flex flex-col bg-white flex flex-col items-start justify-center">
		<ul class="list-none flex flex-col justify-center items-start">
			<li appAosFadeUp class="text-lg text-left h-7">
				{{ "landing.footer.license" | translate: { licenseNumber: info.licenseNumber } }}
			</li>
			<li appAosFadeUp [aosDelay]="200" class="text-lg text-left h-7">
				<a [href]="'mailto:' + info.email">{{ "landing.footer.email" | translate: { email: info.email } }}</a>
			</li>
			<li appAosFadeUp [aosDelay]="400" class="text-lg text-left h-7 mb-12">
				<a [href]="'tel:' + info.phoneNumber">{{
					"landing.footer.phone" | translate: { phoneNumber: info.phoneNumber }
				}}</a>
			</li>
			<li appAosFadeUp [aosDelay]="600" class="text-lg text-left h-7 opacity-95">
				{{ "landing.footer.addressLine1" | translate: { addressLine1: info.addressLine1 } }}
			</li>
			<li appAosFadeUp [aosDelay]="800" class="text-lg text-left h-7 opacity-95">
				{{ "landing.footer.addressLine2" | translate: { addressLine2: info.addressLine2 } }}
			</li>
		</ul>
	</div>
</section>
