<div class="side-nav-backdrop" [class.fade-out]="hideMenu" [class.fade-in]="!hideMenu" (click)="toggleMenu()"></div>
<aside [class.hide-menu]="hideMenu" [class.show-menu]="!hideMenu">
	<nav class="mt-36">
		<ul class="list-none flex flex-col justify-center items-end side-nav-buttons">
			<li>
				<a [routerLink]="'/'" [attr.active]="activeUrl === '/'">{{ "landing.nav-buttons.home" | translate }}</a>
			</li>
			<li>
				<a [routerLink]="'/about'" [attr.active]="activeUrl === '/about'">{{
					"landing.nav-buttons.about" | translate
				}}</a>
			</li>
			<li>
				<a [routerLink]="'/services'" [attr.active]="activeUrl === '/services'">{{
					"landing.nav-buttons.services" | translate
				}}</a>
			</li>
			<li>
				<a [routerLink]="'/tips'" [attr.active]="activeUrl === '/tips'">{{
					"landing.nav-buttons.tips" | translate
				}}</a>
			</li>
			<li>
				<a [routerLink]="'/contact-us'" [attr.active]="activeUrl === '/contact-us'">{{
					"landing.nav-buttons.contact" | translate
				}}</a>
			</li>
		</ul>
	</nav>
</aside>
